@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --svg-mask-t: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M145.6 7.7C141 2.8 134.7 0 128 0s-13 2.8-17.6 7.7l-104 112c-6.5 7-8.2 17.2-4.4 25.9S14.5 160 24 160l56 0 0 96 96 0 0-96 56 0c9.5 0 18.2-5.7 22-14.4s2.1-18.9-4.4-25.9l-104-112z"/></svg>')
    no-repeat center center;
  --svg-mask-b: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M110.4 248.3C115 253.2 121.3 256 128 256s13-2.8 17.6-7.7l104-112c6.5-7 8.2-17.2 4.4-25.9S241.5 96 232 96l-56 0 0-96-96 0 0 96-56 0c-9.5 0-18.2 5.7-22 14.4s-2.1 18.9 4.4 25.9l104 112z"/></svg>')
    no-repeat center center;
}

.Main {
  min-height: calc(100dvh - 8rem);
}

.Main:has(> .Performing) {
  min-height: calc(100dvh - 4rem);
}

/* Performing */
.Performing .SliderReset::before {
  position: absolute;
  content: 'Slide to Reset';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Performing .SliderReset input {
  background: #ffffff11;
}

/* Selecting */
.Selecting .MoveSong > button {
  flex: 1;
}

.Selecting .MoveSong .btn-up {
  mask: var(--svg-mask-t);
  mask-position: bottom;
}

.Selecting .MoveSong .btn-down {
  mask: var(--svg-mask-b);
  mask-position: top;
}

.Selecting .Song:first-of-type .MoveSong > button:first-of-type,
.Selecting .Song:last-of-type .MoveSong > button:last-of-type {
  background-color: transparent;
}

/* Editing */
