@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-off-black: #ffffff11;
	--color-off-white: #ffffff99;
	--MoveSong-svg-mask-t: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M145.6 7.7C141 2.8 134.7 0 128 0s-13 2.8-17.6 7.7l-104 112c-6.5 7-8.2 17.2-4.4 25.9S14.5 160 24 160l56 0 0 96 96 0 0-96 56 0c9.5 0 18.2-5.7 22-14.4s2.1-18.9-4.4-25.9l-104-112z"/></svg>')
		no-repeat center center;
	--MoveSong-svg-mask-b: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M110.4 248.3C115 253.2 121.3 256 128 256s13-2.8 17.6-7.7l104-112c6.5-7 8.2-17.2 4.4-25.9S241.5 96 232 96l-56 0 0-96-96 0 0 96-56 0c-9.5 0-18.2 5.7-22 14.4s-2.1 18.9 4.4 25.9l104 112z"/></svg>')
		no-repeat center center;
}

label {
	cursor: pointer;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* should be in Tailwind */
.cursor-grab {
	cursor: grab;
}

.cursor-grabbing {
	cursor: grabbing;
}

.cursor-no-drop {
	cursor: no-drop;
}
/* / should be in Tailwind */

.Main {
	min-height: calc(100dvh - 8rem);
}

.Main:has(> .Playing) {
	min-height: calc(100dvh - 4rem);
}

/* Playing */
.Playing .Song {
	cursor: pointer;
}

.Playing .SliderReset::before {
	position: absolute;
	content: 'Slide to Reset';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.Playing .SliderReset input {
	background-color: var(--color-off-black);
}

.Playing .Song .played {
	color: var(--color-off-black);
}

.Playing .Song .played:is(:hover, :focus),
.Playing .Song button:has(+ button:is(:hover, :focus)) {
	background-color: var(--color-off-black);
	color: var(--color-off-white);
}

.Playing .RehearseSong .played + button {
	cursor: not-allowed;
	pointer-events: none;
}

/* Selecting */
.Selecting .MoveSong > button {
	flex: 1;
}

.Selecting .MoveSong .btn-up {
	mask: var(--MoveSong-svg-mask-t);
	mask-position: bottom;
}

.Selecting .MoveSong .btn-down {
	mask: var(--MoveSong-svg-mask-b);
	mask-position: top;
}

.Selecting .Song:first-of-type .MoveSong > button:first-of-type,
.Selecting .Song:last-of-type .MoveSong > button:last-of-type {
	background-color: transparent;
}

.Selecting .SliderRemoveAll {
	--tw-text-opacity: 1;
	--red-600: rgb(220 38 38 / var(--tw-text-opacity));
	--slider-thumb-color: var(--red-600);
	--slider-thumb-height: 0.375rem;
	--slider-thumb-size: 1.25rem;
	--slider-track-color: transparent;
	--slider-track-height: 0.5rem;
}

.Selecting .SliderRemoveAll::before {
	position: absolute;
	content: 'Slide to Remove';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 100%;
	transition: opacity 0.3s linear;
}

.Selecting .SliderRemoveAll:active::before {
	opacity: 0;
}

/* keep these prefixes separate */
.Selecting .SliderRemoveAll .slider::-webkit-slider-runnable-track {
	background: linear-gradient(
		to right,
		transparent,
		var(--slider-thumb-color) var(--SliderRemoveAll-position),
		var(--slider-track-color) var(--SliderRemoveAll-position),
		transparent
	);
	height: var(--slider-track-height);
}

.Selecting .SliderRemoveAll .slider::-moz-range-track {
	background: linear-gradient(
		to right,
		transparent,
		var(--slider-thumb-color) var(--SliderRemoveAll-position),
		var(--slider-track-color) var(--SliderRemoveAll-position),
		transparent
	);
	height: var(--slider-track-height);
}

.Selecting .SliderRemoveAll .slider::-webkit-slider-thumb {
	appearance: none;
	background-color: var(--slider-thumb-color);
	border-radius: 50%;
	width: var(--slider-thumb-size);
	height: var(--slider-thumb-size);
	margin-top: calc(var(--slider-thumb-height) * -1);
}

.Selecting .SliderRemoveAll .slider::-moz-range-thumb {
	background-color: var(--slider-thumb-color);
	border-radius: 50%;
	width: var(--slider-thumb-size);
	height: var(--slider-thumb-size);
}

/* Editing */

/* User */
.User .SettingsForm label {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.User .SettingsForm label span + * {
	border: 1px solid transparent;
}

.User .SettingsForm label:is(:hover, :focus) span + * {
	border-color: #000000;
}

.User .SettingsForm label input,
.User .SettingsForm label select {
	flex: 1 1 auto;
	padding: 0.5rem 1rem;
}

@media (min-width: 1200px) {
	.User .SettingsForm label {
		flex-direction: row;
	}

	.User .SettingsForm label span {
		padding-top: 0.5rem;
	}
}
